<footer class="text-center text-gray-400 py-3 md:py-4 lg:py-5">
    <p class="text-xs md:text-sm">
        &copy; {{ "now"|date("Y") }} <span class="text-slns-primary-400 font-semibold">Silenus</span> - Tous droits réservés
    </p>
</footer>
